<ion-view view-title="政务搭桥" class="governmentAffair-detail">
	<ion-content class="padding no-tabs">
		<div class="introduction">
			<h5>一、机构职能简介</h5>
			<p>贯彻执行国家和省、市对外开放的方针政策。负责制定我区对外招商引资的政策。对全区招商引资工作进行宏观指导。负责编制我区对外招商引资的总体规划、年度计划。负责全区招商经费的管理和使用。</p>
			<p> 负责牵头组织全区性境内外的各类招商活动。指导、协调全区乡镇、街道、工业园区和区直部门、单位的招商引资工作。负责全区招商网络建设。建立全区招商项目 库，编制招商项目册和宣传资料。汇总统计全区招商引资情况，定期发布全区招商信息。负责全区经贸招商团组出访活动、会展活动的登记、备案。
			</p>
			<h5>二、授牌名称 </h5>
			<h5>三、服务平台宗旨</h5>
			<p>为会员企业提供政策解读、商务信息交流，优势资源互通的平台。</p>
			<h5>四、 主要服务内容</h5>
			<p>1、协调、参与外来投资项目的洽谈、签约和项目的实施。</p>
			<p>2、负责对全区招商引资年度目标任务的分解、督促、检查、考核。牵头组织对外来投资项目引荐人奖励的审核、兑现。</p>
			<p>3、负责对外来投资企业做好服务、协调工作。会同有关部门督促外来投资企业执行有关政策及履行合同、章程，协调处理外来投资企业遇到的困难及问题。</p>
			<p>4、负责对外商投资企业的审批、申报。</p>
			<p>5、负责为区域内各类企业和拟进区投资者提供政策咨询、项目推介、投资引导、证照办理等服务。</p>
			<p>6、承办区委、区政府交办的其他任务。</p>
		</div>
	</ion-content>
</ion-view>
