<!--
	This template loads for the 'tab.friend-detail' state (app.js)
	'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
	The FriendsCtrl pulls data from the Friends service (service.js)
	The Friends service returns an array of friend data
-->
<ion-view view-title="{{job.Title}}" class="joinus">
	<ion-content class="padding">
		<div ng-bind-html="job.content" class="html"></div>
		<a href="tel:{{job.tel}}" ng-if="job.tel" class="button button-small button-positive consult-btn">咨询</a>
	</ion-content>
</ion-view>
