<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="职工食堂">
  <ion-content>
   <div class="list">
	    <a class="item item-thumbnail-left line-3" ng-repeat="refectory in refectories" href="#/tab/services/refectory/detail">
	      <img ng-src="{{refectory.IconAttachments}}">
	      <h2>{{refectory.Title}}</h2>
	      <p>{{refectory.content}}</p>
	    </a>
	</div>
  </ion-content>
</ion-view>
