<!--
	This template loads for the 'tab.friend-detail' state (app.js)
	'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
	The FriendsCtrl pulls data from the Friends service (service.js)
	The Friends service returns an array of friend data
-->
<ion-view view-title="食堂">
	<ion-content>
		<div class="list card">
			<div class="item">
				<h2>多功能室1</h2>
				<p>面积：170平米 , 可以容纳200人左右</p>
			</div>

			<div class="item item-image">
				<img src="img/refectory-1.jpg">
			</div>
		</div>
		<div class="list card">
			<div class="item">
				<h2>多功能室2</h2>
				<p>面积：170平米 , 可以容纳200人左右</p>
			</div>

			<div class="item item-image">
				<img src="img/refectory-2.jpg">
			</div>
		</div>
		<div class="list card">
			<div class="item">
				<h2>餐厅</h2>
				<p>面积：200平米，可以同时容纳90人就餐</p>
			</div>

			<div class="item item-image">
				<img src="img/refectory-3.jpg">
			</div>
			<div class="item item-image">
				<img src="img/refectory-4.jpg">
			</div>
		</div>

		<div class="list card">
			<div class="item">
				<h2>食堂开放时间：中餐 11:45—12:45</h2>
				<p>针对人群：写字楼、商业人员，需预约使用</p>
			</div>
		</div>

		<div class="list card">
			<div class="item">
				<h2>多功能室开放时间：8:00-20:00</h2>
				<p>针对人群：绿地会员，预约使用</p>
			</div>
		</div>
	</ion-content>
</ion-view>
