<ion-view view-title="服务">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="service in services" ng-if="service.url" type="item-text-wrap" href="#/tab/services/{{service.url}}">

        <h2>{{service.name}}</h2>

        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(service)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
